// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Import generated M3 theme
@use './styles/m3-theme' as m3-theme;


// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

html {
  // Apply the light theme by default
  @include mat.core-theme(m3-theme.$light-theme);
  @include mat.button-theme(m3-theme.$light-theme);
  @include mat.all-component-colors(m3-theme.$light-theme);
  // When using system variables, remember to provide values for them
  // or uncomment the lines below to generate them from the theme.
   @include mat.system-level-colors(m3-theme.$light-theme);
   @include mat.system-level-typography(m3-theme.$light-theme);
}

// Dark theme variant
.dark-theme {
  @include mat.all-component-colors(m3-theme.$dark-theme);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

// App Name - Logo Font
.app-name-nav-bar {
  font-size: x-large; /* ~20px */
}
.app-logo-nav-bar {
  @apply h-10;
}
.navbar-normal-text{
  @apply text-xl;
}
.navbar-icon{
  @apply h-5;
}
.flag-icon{
  @apply h-12 w-12 rounded-full me-2;
}

@media (min-width: 640px) {
  .app-name-nav-bar {
    font-size: xx-large; /* ~24px */
  }
  .app-logo-nav-bar {
    @apply h-10;
  }
  .navbar-normal-text{
    @apply text-xl;
  }
  .navbar-icon{
    @apply h-10;
  }
  .flag-icon{
    @apply h-12 w-12 rounded-full me-2;
  }
}
@media (min-width: 768px) {
  .app-name-nav-bar {
    font-size: xxx-large; /* ~30px */
  }
  .app-logo-nav-bar {
    @apply h-20;
  }
  .navbar-normal-text{
    @apply text-3xl;
  }
  .navbar-icon{
    @apply h-10;
  }
  .flag-icon{
    @apply h-12 w-12 rounded-xl me-2;
  }
}
